[package]
authors = ["trangar <Victor 'Trangar' Koenders>"]
edition = "2018"
name = "pixelflut"
version = "0.1.0"

[dependencies]
clap = "2.33"
num_cpus = "1.10"
time = "0.1"
mio = { version = "0.6", default-features = false }
mio-extras = "2.0"

[dev-dependencies]
proptest = "0.9"
lazy_static = "1.3"
rand = "0.7"
hashbrown = { version = "0.6", features = ["nightly"] }

[profile.release]
lto = true

[target."cfg(target_os=\"linux\")".dependencies]
framebuffer = "0.1"
