[package]
authors = ["trangar <Victor 'Trangar' Koenders>"]
edition = "2018"
name = "pixelflut"
version = "0.1.0"

[dependencies]
bytes = "0.4"
clap = "2.32"
failure = "0.1"
futures = "0.1"
num_cpus = "1.9"
time = "0.1"
mio = { version = "0.6", default-features = false }
mio-extras = "2.0"
hashbrown = { version = "0.1", features = ["nightly"] }

[dev-dependencies]
proptest = "0.9"
lazy_static = "*"
rand = "*"

[profile.release]
lto = true

[target."cfg(target_os=\"linux\")".dependencies]
framebuffer = "0.1"
